.aboutPage {
  /* background-color: #2d2d2a; */
}

.hr {
  color: transparent;
}

.aboutContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding: 0.5rem;
  /* background: hsla(0, 0%, 0%, 0.4); */
  border-radius: 3rem;

  height: 100%;
  margin-bottom: 10rem;
}

.aboutTitle {
  text-transform: uppercase;
  letter-spacing: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 4rem;
  font-size: clamp(0.9rem, 4vw, 7rem);
}

.aboutText p {
  font-size: clamp(1rem, 4vw, 1.5rem);
  /* text-align:left; */
  margin-bottom: 1rem;
}

.aboutImage {
  width: auto;
  height: auto;
  object-fit: contain;
}

.motto {
  background: -webkit-linear-gradient(#ded6d6, #8aea92);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.aboutGrid {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .aboutGrid {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
