*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  /* max-width: 1440px; */
}

html,
body,
main {
  height: 100%;
  background-color: #2d2d2a; /*#29274CCC
  #012A36*/
  font-size: 16px;
  color: #ded6d6;

  background-image: radial-gradient(#313134 2px, transparent 2px),
    radial-gradient(#313134 2px, transparent 2px);
  background-size: 24px 24px;
  background-position: 0 0, 12px 12px;
}

html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  position: relative;
  scroll-snap-type: y var(--tw-scroll-snap-strictness);
  --tw-scroll-snap-strictness: mandatory;
  scroll-behavior: smooth;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

main {
  display: flex;
  flex-direction: column;
  /* grid-template-rows: repeat(4, 1fr); */
  gap: 5rem;
  margin: 0.5rem;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-snap-stop: always;
}
