*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body, main {
  height: 100%;
  background-color: #29274CCC;
  color: #D8E1FF;
  
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  position: relative;
  scroll-snap-type: y var(--tw-scroll-snap-strictness);
  --tw-scroll-snap-strictness: mandatory;
  scroll-behavior: smooth;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

main {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 0.5rem;
  z-index: -1;
}