.hero_container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    scroll-snap-align: start;
    overflow: hidden;
}

.hero_image {
    border: red;
    border-style: solid;
    margin-bottom: 1rem;
    
    
}

.heroInfo {
    z-index: 20;
}

.heroInfo h1 {
    margin-bottom: 5rem;
}

.hero_h2 {
    /* font-size: 0.6rem; /*Standard*/
    font-size: clamp(0.7rem, 0.2880rem + 2.06vw, 4rem); /* 0.7 to 4rem max */
    line-height: 1.25rem;
    scroll-padding-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
}

.hero_h3 > span {
    font-size: clamp(1rem, 3vw, 4rem);
    
}

.hero_h3 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.hero_btn_group {
    position: absolute;
    bottom: 10rem;
    left: 0rem;
    right: 0rem;
    align-items: center;
}

.hero_button {
    background: none;
    border: 1px solid transparent;
    color: inherit;
    /* margin-top: 10rem; */
    font-size: clamp(0.7rem, 4vw , 1rem);
    text-transform: uppercase;
    padding: 0.5rem;
    text-decoration: none;
}

.hero_button:hover {  
    border-bottom: 1px solid #E4572E; 
    font-style: oblique;
  
}

.scroll__text {
    position: absolute;
    font-size: clamp(1rem, 0.938rem + 0.02vw, 1.5rem);
    bottom: 6rem;
}

.arrows {
	width: 3.75rem;
	height: 4.5rem;
	position: absolute;
	left: 50%;
	margin-left: -1.875rem;
	bottom: 1.25rem;
}

.arrows path {
	stroke: #E4572E;
	fill: transparent;
	stroke-width: 0.063rem;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari & Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari & Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari & Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari & Chrome */
}