.navbar {
    position: sticky;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    justify-content: space-between;
    /* background-color: aliceblue; */
    z-index: 1;
    border-radius: 1.5rem;
}
.email {
    display: inline-flex;
    align-items: center;
    color: gray;

}

.socials, .navlist {
    display: none;
    align-items: center;
}

.navlist > *{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr 1fr; */
    text-decoration: none;
    justify-content: space-between;
    color: gray
}

.resume_btn {
    
    background-color: #7E52A0;
    padding: 0.5rem;
    border-radius: 1rem;
    /* margin: 0.5rem; */
    cursor: pointer;
    text-align: center;
    align-content: center;
}


@media (min-width: 480px) {
    .socials, .navlist {
        display: inline-flex;
    }
}

@media (max-width: 480px) {
    .socials, .navlist {
        display: inline-flex;
    }
}