.navbar {
    position: fixed;
    top: -2px;
    transition: top 0.3s; 
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 0.5rem;
    justify-content: space-between;
    z-index: 1;
    background: hsla(0, 0%, 0%, 0.4);

}
.email {
    display: inline-flex;
    align-items: center;
    color: gray;

}

.socials, .navlist {
    display: none;
    align-items: center;
}

.navlist > *{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr 1fr; */
    text-decoration: none;
    justify-content: space-between;
    color: gray
}

.resume_btn {
    
    background-color: transparent;    
    padding: 0.5rem;
    border-radius: 3rem;
    /* margin: 0.5rem; */
    cursor: pointer;
    text-align: center;
    align-content: center;
    color: #8F857D;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 800;
    border-image: linear-gradient(to right, hsla(14, 77%, 54%, 1), hsla(71, 100%, 87%, 1))1;
    border-style: solid;
    border-width: 2px;
    
}


@media (min-width: 480px) {
    .socials, .navlist {
        display: inline-flex;
    }
}

@media (max-width: 480px) {
    .socials, .navlist {
        display: inline-flex;
    }
}