.hr {
    color: transparent
}

.projects_container {
    /* position: relative; */
    background: transparent;
    scroll-snap-align: end;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
}

.projects_title {
    text-transform: uppercase;
    letter-spacing: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    font-size: clamp(0.9rem, 4vw , 7rem);
}

.card {
    position: relative;
    /* width: 16rem;
    height: 24rem; */
    width: 20rem;
    height: 32rem;
    border-radius: 1.563rem;
    background-color: aliceblue;
    
}
/* 
.card, .image__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
} */

.image__content, .card__content {
    display: flex;
    flex-direction: column;
    
    padding: 0.625rem 0.875rem;
}

.image__content {
    
}

.card__image{
    position: relative;
    padding: 0.188rem;
    border: 4px solid blue;
    margin: 0.5rem;
}

.card__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    
}   

.card__content {
    font-size: 1rem;
    color: black;
}

.card__techstack {
    
}
.card__links {
    position: absolute;
    bottom: 0.5rem;
    display: inline-flex;
}

.card__git {
    position: absolute;
    right: -16.1rem;
}

.card__site {

}